name: Build slides

on: [push]

#inspired by https://gist.github.com/farr/26d109d947a7ee4a35e37f7d77d91615
#and         https://github.com/xu-cheng/latex-action

jobs:
  build_and_deploy:

    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository
        uses: actions/checkout@v2

      
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v2
        with:
          root_file: slides.tex
          latexmk_use_lualatex: true

      - name: upload artifact
        uses: actions/upload-artifact@v2
          with:
            name: PDF
            path: slides.pdf
